<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="loginForm" (ngSubmit)="login(username)">
        <ion-item>
            <ion-label position="floating">Username:</ion-label>
            <ion-input formcontrolName="user" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-item class="invalidData" *ngIf="loginForm.controls['user'].invalid && (loginForm.get('user').dirty || loginForm.get('user').touched)">
            required
            </ion-item>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password:</ion-label>
            <ion-input type="password" formcontrolname="pass" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
          <ion-button type="submit" expand="block">Submit</ion-button>
          <ion-button (click)="registration()" expand="block">Register</ion-button>
    </form>
    
  </ion-card>

</ion-content>
