<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
            <ion-label position="floating">Username:</ion-label>
            <ion-input formControlName="uname"></ion-input>
          </ion-item>
            <ion-item class="invalidData" *ngIf="loginForm.controls['uname'].invalid && (loginForm.get('uname').dirty || loginForm.get('uname').touched)">
                <img src="/assets/icon/error.png"/>Username is required
            </ion-item>
        
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="upass" type="password"></ion-input>
        </ion-item>
          <ion-item class="invalidData" *ngIf="loginForm.controls['upass'].invalid && (loginForm.get('upass').dirty || loginForm.get('upass').touched)">
              <img src="/assets/icon/error.png"/>Password is required
              </ion-item>
        
          <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">Submit</ion-button>
          <ion-button (click)="registration()" expand="block">Register</ion-button>
          <ion-item class="invalidData" *ngIf="visible">
              <img src="/assets/icon/error.png"/>Invalid Username or password
          </ion-item>
    </form>
    
  </ion-card>

</ion-content>
