<ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-button (click)="getDetails()">Details</ion-button>
    <ion-button (click)="clickMe()">Some btn</ion-button>
    <!-- <app-details *ngIf="visibleData" [userId]="user"></app-details> -->
    <router-outlet></router-outlet>
  </ion-content>
  
